<div class="modal-header">
  <span>Invoice {{getMonthName(month)}} {{year}}</span>
</div>
<div class="modal-body">
  
    <div><i class="fa fa-user"></i><b> User:</b> {{user.firstName}} {{user.lastName}}</div><br>
    <div><i class="fa fa-clock"></i><b> Total time:</b> {{invoice.time}}</div><br>
    <div><i class="fa fa-money-bill"></i><b> Extra payment:</b> {{invoice.extra}}</div><br>
    <div *ngIf="user.internet"><i class="fa fa-wifi"></i><b> Internet hours:</b> {{invoice.internet}}</div><br>
    <div><i class="fa fa-dollar-sign"></i><b> Total CUC:</b> {{invoice.totalCUC}}</div><br>
    
</div>

<div class="modal-footer">
  <button type="submit" class="btn btn-md btn-primary" (click)="closeModal()">Ok</button>
</div>