@import '../../../@theme/styles/themes';

.input-description {
    font-size: 70%;
    align-content: flex-end;
}

@include nb-install-component() {
  nb-card-body {
    display: flex;
    justify-content: space-between;

    input {
      width: 100%;
    }
  }
}

.show-front {
  z-index: 3000 !important;
}

/deep/ .cdk-overlay-container {
  z-index: 3000 !important;
}

.list-item {
  padding: 0;
  border-bottom: 0;
}
/*
.add-button {
  height: 3rem;
  width: 3rem;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  padding-top: 70%;
}*/

.row {
  display: flex;
  align-items: center;
}