<nb-card [nbSpinner]="spinner" nbSpinnerSize="xxlarge">
  <nb-card-header>
       <div class = "row">
            <div class = "col-md-4">
              <button class = "btn btn-outline btn-info" 
                     (click)="goBack()">
                <i class="ion-arrow-left-c"></i>
                   {{user.firstName}}
              </button>
            </div>
            
            <div class = "col-md-6">
                  <div class="input-group">
                    <input nbInput 
                           type="text"
                           placeholder="Range of Date" 
                           [nbDatepicker]="rangepicker"
                           name = "Range of date"
                           [(ngModel)]="rangeDate" >
              
                    <span class="input-group-append">
                      <button class="btn btn-info input-group-text" (click)="cleanRangeDate()" >
                          <i class="ion-trash-a"></i>
                      </button>
                      <button type="button" 
                            class="btn btn-success" 
                            (click)="dataFilter()">
                            Filter
                      </button>
                    </span>
                  </div>
                  <nb-rangepicker #rangepicker></nb-rangepicker>
            </div>
                 
            
          <div class = "col-md-2">
            <button  class = "btn btn-outline btn-primary float-right " 
                    (click)="openPaymentModal()">
                View Payment
            </button>
          </div>
       </div>

  </nb-card-header>

  <nb-card-body>        
          <div>
            <ngx-user-card [user] = "user"></ngx-user-card>
          </div>

    <!-- <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onRowSelected($event)">
    </ng2-smart-table> -->
  </nb-card-body>
</nb-card>

<ngx-project-card [projects] = "projects" 
                  [userMonthWork] = "userMonthWork">
</ngx-project-card>

<ngx-report-list [userInfo] = "userInfo" 
                 [userInfoView] = "user">
</ngx-report-list>