<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="xsmall">
      <ngx-soldev-card-front [userid] = "userid" [userAdmin] = "userAdmin"></ngx-soldev-card-front>
      <!-- <i class="nb-arrow-right" (click)="toggleFlipView()"></i> -->
    </nb-card>
  </nb-card-front>
  <!-- <nb-card-back>
    <nb-card size="xsmall">
      <ngx-soldev-card-back></ngx-soldev-card-back>
      <i class="nb-arrow-right" (click)="toggleFlipView()"></i>
    </nb-card>
  </nb-card-back> -->
</nb-flip-card>
