@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/typography/typography';


.title {
  font-size: 1.30rem;
  color: lightblue;
}

.icon-size {
  font-size: 1.50rem;
}

.value {
    font-size: 1.30rem;
    margin-top: 0.5rem;
  }
 
