<nb-card size ="55%">
    <nb-card-header>
      <span>Project Activity</span>
      <!-- <div class="dropdown ghost-dropdown" ngbDropdown>
        <button type="button" class="btn btn-sm" ngbDropdownToggle
                [ngClass]="{ 'btn-success': currentTheme == 'default', 'btn-primary': currentTheme != 'default'}">
          {{ type }}
        </button>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li class="dropdown-item"
              *ngFor="let t of types"
              (click)="getUserActivity(t); type = t">
            {{ t }}
          </li>
        </ul>
      </div> -->
    </nb-card-header>
    <nb-card-body>

      <ul class="user-activity-list">
        <li  *ngFor="let project of projects; let i = index"
              (click)="projectInfo(project)">
                
          <div class="visited-date col-md-2">
            {{ project.projectName }}
          </div>
          <div class="visited-pages-count col-md-2">
            <div class="title">Estimated Duration</div>
            <div class="value">{{ project.estimatedDuration}}</div>
          </div>
          <div class="visited-pages-count col-md-2">
              <div class="title">Spent Time</div>
              <div class="value">{{ project.currentSpentTime}}</div>
          </div>
          <div class="visited-pages-count col-md-2">
              <div class="title">Spent Time for User </div>
              <div class="value">{{ spentTimeUser[i]}}</div>
          </div>
          <div class="visited-pages-count col-md-2">
              <div class="title">User Mount Work</div>
              <div class="value">{{ userMountWork[i]}}</div>
          </div>            
          <div class="visited-percentages col-md-2 float-right">
            <div class="title">Progress, %</div>
            <div class="delta value" >
              {{  progresPercent(project.currentSpentTime, project.estimatedDuration ) | number:'1.0-0' }}%
            </div>  
          </div>
          
        </li>
      </ul>
    </nb-card-body>
  </nb-card>