<div class="modal-header">
  <span>{{titleForm}}</span>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" #addRoleForm="ngForm">

    <label for="roleName">Role Name:</label>
      <div>
        <input  type="text" 
                placeholder="Name" 
                class="form-control" 
                id="roleName" 
                name="roleName" 
                [(ngModel)]="role.roleName"
                minlength="2"
                required>
      </div>
    <br>  
    <label for="workMode">Work Mode:</label>
      <div>
        <input  type="text" 
                placeholder="How work" 
                class="form-control" 
                id="workMode" 
                name="workMode" 
                [(ngModel)]="role.workMode"
                required>
      </div>
    <br>

    <label for="payModeStructure">Pay mode structure:</label>
    <div class = "row">
      <div class=" col-md-6 form-group">
        <label for="basicSalary">Salary:</label>
        <div>
          <input  placeholder="Salary month" 
                  type="number" 
                  class="form-control" 
                  id="basicSalary" 
                  name="basicSalary" 
                  [(ngModel)]="role.basicSalary"
                  required>
        </div>
      </div>
      <div class=" col-md-6 form-group">
        <label for="payHoursWork">Pay Hours:</label>
        <div>
          <input  placeholder="H/Work" 
                  type="number" 
                  class="form-control" 
                  id="payHoursWork" 
                  name="payHoursWork" 
                  [(ngModel)]="role.payExtraHours"
                  required>
          </div>
      </div>
      <!-- <div class=" col-md-3 form-group">
        <label for="extraHours">Extra Hours:</label>
          <nb-checkbox [(value)]="checkBox">Checkbox 2</nb-checkbox>
      </div>
      <div class=" col-md-3 form-group">
          <label for="payExtraHours">Pay Extra:</label>
          <div class = "container"><input placeholder="H/Work" type="number" class="form-control" id="payExtraHours" name="payExtraHours" [(ngModel)]="payExtraHours"></div>
      </div> -->
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <div>
        <textarea placeholder="About this role..." 
                  type="text" 
                  class="form-control" 
                  id="description" 
                  name="description" 
                  [(ngModel)]="role.description">
        </textarea>
      </div>
    </div>
    
    <div class="modal-footer">
      <button type="submit" class="btn btn-md btn-success" [disabled]="!addRoleForm.valid">Save</button>
      <button type="button" class="btn btn-md btn-primary" (click)="closeModal()" >Close</button>
    </div>
    <!--button type="submit" class="btn btn-danger">Submit</button-->
  </form>
</div>
