
.project-initials {
    height: 2.5rem;
    width: 2.5rem;
    background: #fff;
    border: 2px solid #bcc3cc;
    position: relative;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #a4abb3;
    justify-content: center;
    align-items: center;
    display: flex;
}